                  <div class="one-third column products_tab">
<div class="bit-1">
  <div class="bit-1">

    <img src="images/negits_fobesys_restapos.png" alt="Fobesys Restapos" title="Fobesys Restapos" class="aligncenter rollImage animate" data-animation="bounceIn">
    <div class="margin45">
      <h3 class="border-title zeropadding" id="RESTAPOS">RESTABOS</h3>
    </div>
  </div>
  <div class="bit-1 padding_one">
    <div class="aligncenter padding_one">
      <!--<span class="icon-one animate" data-animation="bounceIn"></span>-->
      <!-- <h3 style="font-style: italic;">Our Speciality Solutions that make RestaPOS stand unique
      </h3> -->
      <p style="text-align:justify margin-bottom">
        A fully loaded Back Office System for entire solutions of restaurant item management, reporting and branches
        Food and Drink costing provides an option to cost and re-cost recipes as ingredients costs change and makes you control the cost of the recipes item even at any time.
        Manage your items on your style at any time to attract customer and make them happy.
        Extensive reporting capabilities and advanced statistics in Excel with email.
        Get your frequent visiting customer list with contact details and number of visits.
                          <!-- <ul style="text-align:justify;line-height:120%">
                            <li>A fully loaded Back Office System for entire solutions of restaurant item management, reporting and branches</li>
                            <li>
                              Food and Drink costing provides an option to cost and re-cost recipes as ingredients costs change and makes you control the cost of the recipes item even at any time.</li>
                            <li>
                              Manage your items on your style at any time to attract customer and make them happy.
                            </li>
                            <li>Extensive reporting capabilities and advanced statistics in Excel with email.</li>
                            <li>Get your frequent visiting customer list with contact details and number of visits.</li>
                            <li>Send group mails and SMS for any promotions and greetings.</li>
                             <li>Stock maintenance in relative to numbers.</li>
                            <li>Auto Database back up option to ensure non data loss system.</li>
                          </ul> -->
                        </p>


      <a href="restapos.html#restapos" class="button small animate" data-animation="bounceIn" data-delay="100">Learn more
        <span class="icon-caret-right"></span>
      </a>
    </div>
  </div>
</div>
                </div>

                